body {
    display: flex;
    height: 600px;
    flex-direction: column;
    padding: 1em;
}

#main{
    display: flex;
    flex: 1;
}

header, footer{
    background-color: aquamarine;
    margin:1px;
}

article, nav, aside, header, footer{
    flex:1;
    padding: 1rem;
    margin:1px;
}

aside{
    background-color: yellow;
}

article{
    background-color: cornflowerblue;
}

nav{
    background-color: pink;
}