header {
    background-color: #0B5ED7;
    color: white;
    padding: 20px;
    text-align: center;
}

.ordenarEnColumnas{
    display: flex;
    flex-direction: column;
}

.ordenarEnFilas{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

input[type="text"], select{
    /*width: 250px;
    height: 18px;*/
    margin-top: 5px;
    margin-bottom: 5px;
}

select {
    margin-right: 5px;
}

#btnGenerarCuestionario {
    margin: 10px;
}

.modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*div{
    display: flex;
    flex-direction: column;
    width: 50%;
}

form div label {
    display: block;
}

input, label, select{
    width: 450px;
    height: 25px;
}

button{
    width: 200px;
    height: auto;
}*/