header {
    background-color: #0B5ED7;
    color: white;
    padding: 20px;
    text-align: center;
}

.ordenarEnColumnas{
    display: flex;
    flex-direction: column;
}

.margenes{
    margin: 20px;
}

.margenesBoton{
    margin-left: 20px;
    margin-right: 20px;
}

.ordenarEnFilas{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

input[type="text"], select{
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 300px;
}

select {
    margin-right: 5px;
}

#btnGenerarCuestionario {
    margin: 10px;
}

.modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}