body {
    display: flex;
    height: 700px;
    flex-direction: column;
}

#main{
    display: flex;
    flex: row;
    height: 60%;
}

header, footer{
    background-color: aquamarine;
}

header {
    height: 20%;
}

footer {
    height: 10%;
}

article, nav, aside, header, footer{
    margin:5px;
    font-size: 40px;
    display: flex;
    align-items: center;
}

aside{
    background-color: yellow;
    width: 25%;
}

article{
    background-color: cornflowerblue;
    width: 50%;
}

nav{
    background-color: pink;
    width: 25%;
}